<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>TourStarter</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; padding-top: 60px }
      #map_canvas { height:100%; }
    </style>

    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDykrMkn6lahPJnEnHsPVyixue0sgVyBvs&sensor=false">
    </script>

    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript"
      src="static/js/TourStarter.js">
    </script>

  </head>

  <body onload="initialize()">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">TourStarter</a>
          <ul class="nav">
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-inline">
      <!-- TODO autofill major cities-->
        <input type="text" name="address" placeholder="Where are you starting from?">
        <select name="route">
          <option selected="selected" disabled="disabled">Which route are you taking?</option>
          <option value="AP">Adirondack Park Loop</option>
          <option value="AM">Allegheny Mountains Loop</option>
          <option value="AC">Atlantic Coast</option>
          <option value="FL">Florida Connector</option>
          <option value="GC">Grandy Canyon Connector</option>
          <option value="GD">Great Divide Mountain Bike Route</option>
          <option value="GP">Great Parks</option>
          <option value="GR">Great Rivers South</option>
          <option value="GML">Green Mountains Loop</option>
          <option value="LE">Lake Erie Connector</option>
          <option value="LC">Lewis &amp; Clark</option>
          <option value="NL">North Lakes</option>
          <option value="NT">Northern Tier</option>
          <option value="PC">Pacific Coast</option>
          <option value="SC">Sierra Cascades</option>
          <option value="ST">Southern Tier</option>
          <option value="TP">Tidewater Potomac</option>
          <option value="TA">TransAmerica</option>
          <option value="UC">Utah Cliffs Loop</option>
          <option value="UR">Underground Railroad</option>
          <option value="WP">Washington Parks</option>
          <option value="WE">Western Express</option>
        </select>
        <input type="button" class="btn" id="calculate" value="Calculate" onclick="calculate">
      </div>
    </div>

    <div class="container" style="height:70%">
      <div class="row" style="height:100%">
        <div class="span4">
          <div id="text_panel"></div>
        </div>
        <div class="span8" style="height:100%">
          <div id="map_canvas"></div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="static/js/bootstrap.js">
    </script>
  </body>

</html>
